.order-item-container ul {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    text-transform: capitalize;
    padding: 5px 15px;
}

.order-item-container ul li {
    width: 20ch;
    padding: 5px 15px;
}

.order-item-container ul li:nth-child(even) {
    border-left: 1px solid #808080b9;
    border-right: 1px solid #808080b9;
}

.order-item-container ul li:nth-child(1) {
    width: 2ch;
}

.order-item-container ul li:nth-child(5) {
    width: 15ch;
}

.order-item-container ul li:nth-child(6) {
    width: 7ch;
}