.profile-card-grid {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 'photo . .'
        'photo name surname'
        'photo city .';
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 15px;
    background-color: #f9f9f9;
}

.user-photo {
    grid-area: photo;
    max-width: 176px;
    height: auto;
}

.user-name {
    grid-area: name;
}

.user-surname {
    grid-area: surname;
}

.user-city {
    grid-area: city;
    align-self: baseline;
}

.user-name,
.user-surname {
    font-weight: bolder;
}