.lang-select-container {
    cursor: pointer;
    align-items: center;
    display: flex;
}

.lang-select-container span {
    font-size: 12px;
    line-height: 20px;
    margin-left: 2px;
    font-weight: 700;
}