.card-container {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
}

.card-image {
    width: 100%;
    background-color: aquamarine;
    text-align: center;
    cursor: pointer;
}

.desc {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 'title title'
        'from .'
        'price button';
    padding: 15px;
    background-color: #F9F9F9;
}

.title {
    grid-area: title;
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
}

.from {
    grid-area: from;
}

.price {
    grid-area: price;
    font-size: 24px;
    font-weight: bold;
}

.btn {
    border-radius: 50%;
    background-color: #02C172;
    border: none;
    grid-area: button;
    justify-self: end;
    color: #fff;
    cursor: pointer;
}