.hero-container {
    display: flex;
    justify-content: space-evenly;
}

.description {
    display: flex;
    flex-direction: column;
    background-color: #F9F9F9;
    color: #000;
    padding: 70px 65px 70px 100px;
    /* padding: 5em 3em 2em 5em; */
}

.description p {
    margin: 25px 0;
    font-size: 28px;
}

.description .button {
    width: fit-content;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    background-color: #02C172;
    color: #fff;
    cursor: pointer;
}

.description .button:hover {

    background-color: #02c171bb;
}

.hero-container img {
    max-width: 100%;
    height: auto;
}