@import '../../../variables.css';

.hero-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

.description {
    display: grid;
    place-content: center;
    padding: 2em;
    background-color: var(--primary-background-color);
    color: #000;
    border-radius: 5px 0 0 5px;
}

.description p {
    margin: 25px 0;
    font-size: 28px;
}

.description .button {
    width: fit-content;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    background-color: var(--primary-button-color);
    color: #fff;
    cursor: pointer;
}

.description .button:hover {

    background-color: var(--hovered-button-color);
}

/* .hero-container img {
    max-width: 100%;
    height: auto;
} */
.hero-container .hero-image {
    background-image: url('../../../assets//images//description_drone.png');
    background-color: #cccccc;
    border-radius: 0 25px 25px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/*MEDIA*/
@media (max-width: 920px) {
    .hero-container {
        grid-auto-flow: revert;
    }

    .description {
        grid-row-start: 2;
    }

    .hero-container .hero-image {
        height: 250px;
        border-radius: 0;
    }

    .description {
        border-radius: 0;
        text-align: center;
        font-size: 12px;
        padding: 1em;
    }

    .description .button {
        justify-self: center;
    }

    .description p {
        margin: 15px 0;
        font-size: 16px;
        font-weight: 600;
    }
}