.footer-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin-top: 30px;
    padding: 15px 100px;
    background-color: #000;
    color: #fff;
    gap: 50px;
}

.column {
    display: flex;
    gap: 5px;
}

.column:first-of-type {
    display: flex;
    flex-direction: column;
}

.column .links {
    display: flex;
    gap: 15px;
}

li {
    list-style-type: none;
}