.footer-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin-top: 30px;
    padding: 30px 100px;
    background-color: #000;
    color: #fff;
    gap: 50px;
}

.column {
    display: flex;
    gap: 5px;
}

/* .column:first-of-type,
.column:last-of-type {
    display: flex;
    flex-direction: column;
} */
.column:first-of-type {
    display: flex;
    flex-direction: column;
}

.column .links {
    display: flex;
    gap: 15px;
}

.socials {
    flex-wrap: wrap;
}

.socials img {
    max-height: 33px;
    width: auto;
}

li {
    list-style-type: none;
}