.image1 {
    grid-area: img1;
    width: 100%;
    height: auto;
}

.image2 {
    grid-area: img2;
    width: 100%;
    height: auto;
}

.desc1 {
    grid-area: desc1;
    padding-left: 80px;
}

.desc2 {
    grid-area: desc2;
    padding-right: 80px;
}

.desc1,
.desc2 {
    place-self: center;
}

.desc-container h1 {
    margin-bottom: 20px;
}

.desc-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        'img2 desc1 '
        'desc2 img1';
    gap: 20px;
    text-align: left;
    font-size: 16px;
    line-height: 26px;
}